body {
    background: white;
    font-family: "Roboto", sans-serif;
}

header{
 width: 100%;
 height: 104px;
 display: flex;
 align-items: center;
 background: #FBFBFF;
 box-shadow: 0px -6px 22px #0023C4;
 justify-content: space-between;
    padding-top: 18px;
 padding-left: 91px;
 padding-right: 91px;
}

header img {
 width: 50px;
 height: 50px;
 float: left;
}

header .logo{
 font-size: 40px;
 margin-left: 6px;
 font-weight: 600;
 background: linear-gradient(95.77deg, #0023C4 7.84%, #FF5CF4 90.42%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 text-fill-color: transparent;
}

header ul {list-style:none}
header ul li{
 color: #0023C4;
 display: block;
 font-size: 24px;
 float:left;
 padding-left: 42px;
 transition: all .4s ease;
}

header ul li:hover, header ul a:hover{
 color: #FF5CF4;
 transform: scale(1.05);
}

header ul li i{
 padding-right: 12px;
}

main .features{
 float: left;
 color: black;
 margin-top: 100px;
 text-align: center;
 width: 100%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
    float: left;
    clear: both;
    width: 600px;
    margin: 20px 34%;
    text-align: left;
    color: #120E46;
    background: #DAE0FF;
    box-shadow: -6px 11px 16px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    border: 0px
}

header .btn{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: linear-gradient(95.77deg, #0023C4 7.84%, #FF5CF4 90.42%);
    border-radius: 42px;
}

header .btn:hover{
    color: white;
    transform: scale(1.05);
}

form {
    margin-left: 38%;
    width: 500px;
    margin-top: 50px;
}

form .btn2{
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    height: 40px;
    color: white;
    background: #0023C4;
    border-radius: 42px;
    border: 0px;
}

form .btn2:hover{
    background-color: #FF5CF4;
    transform: scale(1.05);
}